.Header {
    flex: 0 0 auto;
    width: 100%;
    margin: auto;
    align-items: center;
    background: rgba(218, 125, 19, 0.1);
    
  }
  .HeadMenu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 10vh;
    list-style: none;
    margin: 0;
    font-size: 25px;
    
  }
  
  .HeadMenu a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
    color: #ffffff;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    
  }
  
  .HeadMenu a:hover {
    /* background: #1565C0; */
    border-bottom: 5px solid #ff6702;
    /* border-bottom-style: dashed; */
  }
  
  @media all and (max-width: 800px) {
    .HeadMenu {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .HeadMenu {
      flex-flow: column wrap;
      padding: 0;
    }
    .HeadMenu a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .HeadMenu li:last-of-type a {
      border-bottom: none;
    }
  }
  