
.App{
  display: flex;
  align-items: stretch;
  background-color: #FEFBFB;
  flex-wrap: wrap;
  width: 80%;
  font-family: ‘Didact Gothic’, arial, serif; 
  margin: auto;
  justify-content: space-around;
  height: auto;
  min-height: 100vh;

}
